body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background-image: url(../../img/login/esportes-olimpicos-2016.jpg);
    background-size: cover;
    font-family:  "Comfortaa", sans-serif;
}

nav.container {
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    box-sizing: border-box;
}

.container form {
    border: 2px solid #000000; 
    border-radius: 80px 0px 80px 0px;
    width: 320px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 60px 28px;
}

.login p{
    text-align: center;
    font-weight: bold;
}

.login a {
    text-decoration: none;
    font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	color: #ffffff;
	transition: 0.2s;
}

.login a:hover{
    transition: 0.2s;
    color: #ff4d4d;
    cursor: pointer;
}

.login input {
    width: 100%;
    margin-bottom: 21px; 	
}

input[type="text"], input[type="password"] {
    border: none;
	border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.login input[type="submit"]:hover {
    cursor: pointer;
    background-color: #ff4d4d;
}

.login input[type="submit"] {
    border: none;
	outline: none;
	height: 35px;
	color: #000000;
	background-color:  #fff;
	border-radius:  20px;
}

.usuario {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.usuario img {
    padding: 3px;
}

h1{
    padding-bottom: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

.login ul {
    margin: 0;
    list-style: none;
}
